{{template "inc/header"}}

<h1>Register</h1>

<form action="/signin" method="POST">
    <div>
        <label for="">Firstname</label>
        <input type="text" name="firstname">
    </div>
    <div>
        <label for="">Lastname</label>
        <input type="text" name="lastname">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{{template "inc/footer"}}
