{{define "inc/menu"}}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/me">Me</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/infos">Infos</a></li>
    <li><a href="/signin">Sign In</a></li>
    <li><a href="/signout">Sign Out</a></li>
</ul>
{{end}}
